

body {
  margin: 0px;
  /* background-image: url("../img/waterpipe2.png"); */
  background-color: darkgrey;


}

 .my-container {
  /* margin: 0px; */
  margin-bottom: 70px;
  margin-left: 0px;

  /* border: 2px solid yellow; */
}

#section1 {
    background-image: url("../img/waterpipe.png");
    background-color: darkgrey;
    /* background-size: auto; */

}



.my-row {

  padding-top: 15px;
  padding-bottom: 15px;
  /* border: 1px solid black; */
  /* border-bottom: 180px solid black; */


}

#navbar-collapse {
  text-align: center;

}

#test {
  margin-right: 30px;


}

#test1 {
  margin-left: 30px;
}


.my-row3 {
  height: 600px;
  margin-top: 0px;
  border: 1px solid blue;
}

#container-4 {
  background-color: darkgrey;
}











header #inner_header_post_thumb {
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../img/turnberry.jpg");
  border-bottom: 4px solid #222;
  margin-bottom: 60px;
}

header #inner_header_post_thumb .dark_overlay {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

header #inner_header_post_thumb .dark_overlay .container .header-txt {
  padding-top: 150px;
  padding-bottom: 250px;
  color: #ffffff;
  text-align:center;
}

header #inner_header_post_thumb .dark_overlay .container .header-txt h1 {
  font-size: 40px;
  color: #ffffff;
}

header #inner_header_post_thumb .dark_overlay .container .header-txt h3 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
}

header #inner_header_post_thumb .dark_overlay .container .header-txt p {
  font-size: 18px;
  font-weight: 300;
}

header #inner_header_post_thumb .dark_overlay .container .header-txt p strong {
  font-weight: 700;
}











.my-container3 {

  margin-top: 50px;
  border: 3px solid red;
  margin-bottom: 150px;
}


#carousel-item {
  height: 800px;

}

#carouselExampleControls {
  width: 100%;

}

#carouselExampleControls1 {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.img-fluid {
  height: 300px;
}

#container-4 {
  height: 430px;
  background-color: darkgrey;
  margin-top: 0px;
  margin-bottom: 0px;
}

#jumbotron1 {
  margin-top: 100px;
  border: 2px solid darkgrey;
    /* background-image: url("../img/waterpipe2.png"); */
}

.my-container {
  margin-top: 0px;
  background-color: lightgrey;
  height: auto;

}

.my-row1 {
  height: 600px;
  background-color: lightgrey;
  margin-top: 50px;
  margin-bottom: 50px;

}

.nueva-card {
  margin-top: 40px;
}

.my-colu {
  margin-right: 140px;
  background-color: lightgrey;
  margin-bottom: 70px;
  margin-top: 120px;
  border: 2px solid darkgrey;


}



.about-box {
  padding-top: 60px;
  padding-right: 440px;
  color: antiquewhite;
}

.contact-box {
  padding-top: 100px;
  color: white;
}

#row-4 {
  height: auto;
}
.widget_text {
  padding-top: 30px;
  color: white;
}

.my-row3 {

}

#getting-started {
  font-size: 90px;
}

/* #my-col1-text {
  padding-right: 60px;
} */

#accordion {
  width: 400px;
  margin-left: 135px;
  margin-top: 100px;
}
.my-card {
  height: 250px;
  width: 250px;
}

/* #card-children{
  height: 250px;
} */

/* .my-thumbnail {
  height: 50px;
  width: 50px;
} */

footer {
  background: black;
  color:white;
  height: auto;
  text-align: center;
  width: 100%;

}

.centerBlock {
  display: table;
  margin: auto;
}
